*{
    font-family: "Roboto", sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
    scroll-behavior: smooth;
    
}

body{
    background-color: black;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden;
}

body::selection{
    background-color: rgb(90, 156, 57);
    color: black;
}
::-webkit-scrollbar{
    background-color: black;
}
::-webkit-scrollbar-thumb, body::selection{
    background-color: #5A9C39;
    color: black;
}
/* Animaciones */
@keyframes show{
    from {
        opacity: 0;
        scale: 25%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}

@keyframes fadeIn {
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}






.contenedorjuegos{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5em 2em -4em 2em;
    padding: 1em;
    border: 1px solid #5A9C39;
}

.juego img {
  width: 180px;        /* Ajusta el tamaño que quieras */
  height: 260px;       /* Mantén proporción tipo portada */
  object-fit: cover;   /* Recorta sin deformar */
  border-radius: 8px;  /* Estilo más limpio */
}
.carrusel {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.carrusel::-webkit-scrollbar {
  height: 8px;
}

.carrusel::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}

.juego {
  flex: 0 0 auto; /* Importante para que no se estiren */
  text-align: center;
  color: white;
  width: 180px; /* Igual que la imagen */
}
.juego img{
    cursor: pointer; 
    transition: transform 0.2s ease;
}
.juego img:hover { 
    transform: scale(1.05); 
}
