*{
    font-family: "Roboto", sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: black;
    background-image: url(/registro/img/bcregistro.png);
    background-repeat: no-repeat;
    background-position: 60em 3em;
    background-size: cover;
    overflow: hidden;
}

::-webkit-scrollbar{
    background-color: black;
}
::-webkit-scrollbar-thumb, body::selection{
    background-color: #5A9C39;
    color: black;
}

nav{
    width: 100%;
    height: 100%;
    background-color: black;
}

nav a{
    display: inline-flex;
    position: relative;
    left: 53%;
    color: white;
    text-decoration: none;
    font-family: "Pixelify Sans", sans-serif;
    padding: 1em;
    margin-inline: 1em;
}
main>span{
    display: flex; 
    align-items: center; /* centra verticalmente */ 
    gap: 1%; /* espacio entre imagen y texto */
    margin-left: 2em;
}
h1,h3{
    font-family: "Pixelify Sans", sans-serif;
    margin: .5em 0em;
}
.contenedorfoto{
    background-image: url(./img/alien_esqueleto128_8.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 188px;
    height: 188px;
    
}
.contenedorfoto p{
    color: #FFF;
    font-family: "Pixelify Sans";
    font-size: 1.17em;
    position: relative;
    user-select: none;
}

.personalizar{
    position: absolute;
    margin-left: 10em;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #5A9C39;
    border-collapse: collapse;
}
.selectores.items{
    max-height: 11.25em;
    overflow-y: scroll;
}
.piel1,.piel2,.piel3{
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    margin: .2em;
    border: none;
    cursor: pointer;
}
.tono1,.tono2,.tono3,.tono4,.tono5,.tono6,.tono7,.tono8,.tono9,.tono10,.tono11,.tono12,.tono13,.tono14,.tono15,.tono16{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 6px solid rgba(0, 0, 0, 0.5);
    margin: .2em;
    cursor: pointer;
}
/*Tonos*/
.tono1{background-color: #457219;}
.tono2{background-color: #3E8E41;}
.tono3{background-color: #6FCF97;}
.tono4{background-color: #A0E3B2;}
.tono5{background-color: #5D3A9B;}
.tono6{background-color: #7E57C2;}
.tono7{background-color: #A66DD4;}
.tono8{background-color: #CBA6F7;}
.tono9{background-color: #2E7D9B;}
.tono10{background-color: #4DD0E1;}
.tono11{background-color: #81D4FA;}
.tono12{background-color: #B2EBF2;}
.tono13{background-color: #616161;}
.tono14{background-color: #9E9E9E;}
.tono15{background-color: #BDBDBD;}
.tono16{background-color: #D4AF37;}

.items_selector div p{
    border: 1px solid #5A9C39;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 1.17em;
    font-weight: bold;
    padding: 1em 0em;
    justify-content: center;
    display: flex;
    color: white;
    cursor: pointer;
    width: 100%;
    margin: 0;
}
.menu-section.active{
    background-color: #5A9C39;
    color: black;
}
.personalizar td{
    width: 10%;
}

form{
    width: 30%;
    max-height: 45em;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1em;
    border: 1px solid #5A9C39;
    justify-self: right;
    margin-right: 10em;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
td * p{
    font-size: 14px;
    margin-bottom: 1em;
}
input[type=text],[type=email],[type=password],[type=date],#genero,#pais{
    background-color: black;
    color: white;
    border: 1px solid #5A9C39;
    width: 40%;
    height: 2.5em;
    padding: 0px .5em;
    align-items: center;
    margin-inline-end: 2em;
}
input[type=date]{width: 23%;}

input[type=checkbox]{
    color: black;
    border: 1px solid #5A9C39;
    padding: 0px .5em;
    align-items: center;
    margin-top: 1em;
    width: 20px;
    height: 20px;
}

input[type=text]:focus,[type=email]:focus,[type=password]:focus,[type=date]:focus,[type=checkbox]:focus,#genero:focus,#pais:focus{
    box-shadow: 0 0 8px 1px #5A9C39;
    outline: none;
}
.h-captcha, a[type=submit],a[type=submit]+a{
    margin-bottom: 1em;
    justify-self: center;
    display: flex;
}
input[type=submit].submit{
    color: black;
    text-decoration: none;
    background-color: #5A9C39;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 1em 2em;
    display: flex;
    border: none;
    width: 40%;
    justify-self: center;
    cursor: pointer;
}
input[type=submit].submit + a{
    display: flex;
    justify-self: center;
}
footer{
    background-color: black;
    text-align: center;
    align-content: center;
    padding: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    
}
footer a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    margin-inline: 2em;
}

